/* .flex {
  display: flex
}
.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.gap-xs{ 
  gap: 4px;
}

.w-full {
  width: 100%;
}

.max-w-1024 {
  max-width: 1024px;
}

.m-auto {
  margin: auto
}

.body-section {
  margin: 0
} */